.about {
    background: #1b1b1b;
    text-align: center;

    &__images{
        width: 100%;
        margin: 0 auto 6rem;
        min-height: 700px;
        // background: rgba(255,255,255,.1);
        background: url(../img/about_us.png) no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        &::after{
            display: block;
            position: absolute;
            background:rgba(0,0,0,.3);
            height: 100%;
            width: 100%;
            content: '';
            left: 0;
            bottom: 0;
        }
    }

    &__container {
        margin:-15rem auto 0;
        max-width: 1060px;
        padding: 25px 0;
        width: 100%;
    }
    &__headings{
        max-width:550px;
        margin: 0 auto;
        z-index: 1;

        & h1{
            font-size: 4.5rem;
        }
        & h3{
            padding-bottom: 3rem;
            color: #fff;
        }
    }

    &__text{
        width: 100%;
        margin: 0 auto;
        padding: 3.5rem 0;
    }


}
