*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;    
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    background: #1b1b1b;
}

input, textarea, select{
    border: none;

    &:focus{
        border:none;
        box-shadow: none;
        outline: none;
    }
}
a,div{
    &:focus{
        border:none;
        box-shadow: none;
        outline: none;
    }
}