/***** Button General Styling *****/

.btn {
    display: inline-block;
    font-family: inherit;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 8px;
    user-select: none;
    border: 1px solid transparent;

    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;

    &:focus {
        outline: 0;
    }
}

/***** Button Themes *****/

.btn-primary {
    background-color: #e6c685;
    color: #16002E;
}

/***** Button Sizes *****/

.btn-small { padding: .6rem 1.5rem; }
.btn-large { padding: 1.2rem 2.5rem; }

/***** Button Specific Styling *****/

.btn-login { font-size: 1.4rem; }

.btn-cta { font-size: 1.6rem; }


/***** Block Size Button *****/

.btn-block {
    width: 100%;
    display: block;
}

.btn-purple{
    background: #230E3D;
    color: #e6c685;
}
.btn-white{
    background: #fff;
}