.footer {

    background: #1b1b1b;
    text-align: center;
    border-top: 2px solid #E5C584;

    &__container {
        margin: 0 auto;
        max-width: 1060px;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right,
    &__left {
        a {
            text-decoration: none;
            color: #E5C584;
            font-size: 1.4rem;
            line-height: 2.5rem;
            padding: 0 2rem;
        }
    }
    
}