.gallerymain {
    background: #1b1b1b;
    text-align: center;

    &__images{
        width: 100%;
        margin: 0 auto 6rem;
        min-height: 700px;
        // background: rgba(255,255,255,.1);
        background: url(../img/gallery.png) no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        &::after{
            display: block;
            position: absolute;
            background: rgba(0,0,0,.3);
            height: 100%;
            width: 100%;
            content: '';
            left: 0;
            bottom: 0;
        }
    }

    & .gallery{
        //min-height: 500px;
        margin:-15rem auto 0; 
    }

    &__headings{
        max-width: 550px;
        margin:-5rem auto 0;
        z-index: 1;

        & h1{
            font-size: 4.5rem;
        }

        & h3{
            color: #fff;
        }
    }
}