.home {

    background: #1b1b1b;
    text-align: center;

    & .mouse_icon{
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 11;;
        bottom: 1rem;
        height: 40px;
        width: 40px;
        background: url(../img/mouse.svg) no-repeat center center ; 
    }

    &__headings{
        max-width: 550px;
        margin: 0 auto;
    }

    &__options{
        display: flex;

        &__container{
            max-width: 1060px;
            margin: 0 auto;
            padding: 3rem 0;
            display: flex;

            & .items{
                justify-content: space-between;
                padding: 2rem .8rem 0 8rem;
                text-align: left;
                font-size: 2rem;
                line-height: 1.3;
                color: #e6c685;
                position: relative;
                min-height: 210px;

                &::before{
                    content: '';
                    position: absolute;
                    left: 5.5rem;
                    top: 2.7rem;
                    width: 1.3rem;
                    height: 1.3rem;
                    background: #e6c685;
                    transform: rotate(45deg);
                }

                &::after{
                    content: '1';
                    text-align: left;
                    position: absolute;
                    left: 0;
                    top: -6rem;
                    font-size: 22rem;
                    color: rgba(230, 198, 133, 0.05);
                    font-family: 'Frank Ruhl Libre', serif;
                    font-weight: 300;
                }
            }
            & .number2{
                &::after{
                    content: '2';
                }
            }

            & .number3{
                &::after{
                    content: '3';
                }
            }
        }
    }

    & .d-none{
        & .slick-arrow{
            position: absolute;
            right: 4rem;
            bottom: 0;
            left: auto;
            top: auto;
            width: 30px;
            height: 30px;
            z-index: 1;

            &::before{
                display: none;
            }

            &.slick-next{
                background: url(../img/next_arrow.svg) no-repeat right center ;
            }
            &.slick-prev{
                background: url(../img/back_arrow.svg) no-repeat right center ;
                right:10rem;
            }
        }

        & .slick-list{
            padding-bottom: 6rem;
        }
    }

    & .slider-dot{

        & li{
            & button{
                background: #5c5c5c;
                border-radius: 100%;
                border: .3rem solid #5c5c5c;

                &::before{
                    display: none;
                }
            }
        }
        & .slick-active{
            & button{
                background: #000000;
            }
        }
    }
    &__sliderHome{
        position: relative;

        & .slick-arrow{
            top: 0 !important;
            bottom: 0 !important;
            margin: auto auto;
        }

        & .slick-prev{
            left: 4rem !important;
            margin-left:0;
            right: auto !important;
        }
        
    }

    & .Rslider{
        position: relative;

        & .package_breaf{
            max-width: 320px;
            position: absolute;
            bottom: -6rem;
            left: 10%;
            text-align: left;
            width: 100%;
            z-index: 1;

            & .slider_heading{
                font-size: 5rem;
                letter-spacing: 2px;
                color: #000;
                font-family: 'Frank Ruhl Libre', serif;
                font-weight: 500;
            }
            & .slider_text{
                font-size:1.4rem;
                color: rgba(0,0,0,.6);

            }

            & a{
                color: #230E3D;
                letter-spacing: 1.7px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.3rem;
                padding-right: 4rem;
                background: url(../img/arrow.svg) no-repeat right center ; 
            }
        }

    }

    
    
}