.traveladvisor {
    background: #1b1b1b;
    text-align: center;

    &__images{
        width: 100%;
        margin: 0 auto 6rem;
        min-height: 700px;
        // background: rgba(255,255,255,.1);
        background: url(../img/travel_advisor.png) no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        &::after{
            display: block;
            position: absolute;
            //background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0,0,0,1) 100%);
            background: rgba(0,0,0,.3);
            height: 100%;
            width: 100%;
            content: '';
            left: 0;
            bottom: 0;
        }
    }

    &__headings{
        max-width: 550px;
        margin:-5rem auto 0;
        z-index: 1;

        & h1{
            font-size: 4.5rem;
        }

        & h3{
            color: #fff;
        }
    }

    & .advisorform{
        max-width: 1060px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: 1px solid #E6C685;
        min-height: 500px;
        z-index: 1;
        position: relative;
        margin:-15rem auto 5rem;

        &__inner{
            display: flex;
            flex: 0 0 100%;
        }

        &__items{
            align-content: center;

            & h2{
                color: #230E3D;
            }
            & span{
                font-size: 1.4rem;
                color: #230E3D;
                font-style: italic;
            }

            &__item{
                position: relative;
                min-height: 270px;
                flex:0 0 25%;
                justify-content: space-between;
                overflow: hidden;
                cursor: pointer;
                border: 1.5rem solid rgba(0, 0, 0, 0);

                & .taging{
                    width: 100%;
                    top: 0;
                    bottom: auto;
                    //max-height: auto;
                }

                & .mediaType{
                    color: #E6C685;
                    background:#230E3D;
                    font-size: 1.5rem;
                    white-space: normal;
                    height: auto;
                    //width: min-content;
            
                    &::before, &::after{
                        content: '';
                        position: absolute;
                        left:-4rem;
                        bottom:0;
                        border-bottom: 40px solid transparent;
                        border-right:40px solid #230E3D; 
                        height: 100%;
                        z-index: 1;
                    }
            
                    &::after{
                        left: auto;
                        right: -4rem;
                        border-right:none; 
                        border-left:40px solid #230E3D;
                    }
                }


                & .advisorform-image{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;

                    & img{
                        min-width: 100%;
                        height: 100%;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            & .div_small{
                flex:0 0 20%;
            }

            & .inner_div{
                display: flex;
                flex-wrap: wrap;

                & .form_fields{
                    max-width: 650px;
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: wrap;

                    & input,select{
                        color: #230E3D;
                        padding: 1.2rem;
                        height: 5rem;
                        font-size: 2rem;
                        text-transform: uppercase;
                        border: 1px solid #230E3D;
                        flex: 0 0 46%;
                        margin: 0 2%;
                        justify-content: space-between;
                    }

                    & select{
                        -webkit-appearance: button;
                        -webkit-border-radius: 0px;
                        -webkit-box-shadow: 0px 0 0 rgba(0, 0, 0, 0.1);
                        -webkit-padding-end: 1.2rem;
                        -webkit-padding-start: 1.2rem;
                        -webkit-user-select: none;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    & button{
                        margin: 0 auto;
                    }
                }
            }

            & .others{
                max-width: 380px;
                background: #fff;
                border: 1px solid #230E3D;
                margin: 2rem auto;
                font-size: 1.8rem;
                color: #230E3D;
                text-transform: uppercase;
            }
        }
    }
}