@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,600');

body {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.618;
    color: $color-grey-1;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;

    & h1{
        font-size: 3.5rem;
        color: #fff;
        text-align: center;
        font-weight:500;
        font-family: 'Frank Ruhl Libre', serif;
    }
    
    & h2{
        font-size: 3rem;
        color: #e6c685;
        text-align: left;
        font-weight:500;
        font-family: 'Frank Ruhl Libre', serif;
    }
    
    & h3{
        font-size: 1.6rem;
        color: #e6c685;
        text-align: center;
        font-weight:400;
    }

    & p{
        font-size: 1.5rem;
        color:rgba(230,198,133,.7);
        text-align: left;
        font-weight:400;
        padding-bottom: 2.5rem;

    }
    & .taging{
        position: absolute;
        bottom: 0;
        text-align: center;
        justify-content: space-between;
        -webkit-transition: max-height 1s; 
        -moz-transition: max-height 1s; 
        -ms-transition: max-height 1s; 
        -o-transition: max-height 1s; 
        transition: max-height 1s;  
        overflow: hidden;
        max-height: 4rem;
    }
    
    & .mediaType{
        padding: 1rem 2rem;
        line-height: 2rem;
        font-size: 2rem;
        color: #e6c685;
        background:#222222;
        white-space: nowrap;
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        height: 40px;
        z-index: 2;

        &::before, &::after{
            content: '';
            position: absolute;
            left:-4rem;
            bottom:0;
            border-top: 40px solid transparent;
            border-right:40px solid #222222; 
            height: 100%;
            z-index: 1;
        }

        &::after{
            left: auto;
            right: -4rem;
            border-right:none; 
            border-left:40px solid #222222;
        }
    }

    & .frankfont{
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: 500;
    }
}